.container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qr-box {
    display: block;
    width: 20rem;
    background: $white-color;
    box-shadow: 0rem 1.563rem 1.563rem rgba(0, 0, 0, 0.0476518);
    border-radius: 1.25rem;
    padding: 1rem;
}

.qr-box__image {
    margin-bottom: 1.5rem;
    img {
        width: 100%;
        border-radius: 1.25rem;
    }
}

.qr-box__text {
    text-align: center;
}

.qr-box__text--description {
    margin: 0rem 1rem 0rem 1rem;
}